{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Créer un compte sur Wishlorn</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <div> 
            <button type="submit" class="btn btn-success">Créer un compte</button>
        </div>
    {{ form_end(registrationForm) }}

{% endblock %}
